<mat-toolbar color="primary">
  <span>Metastport</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="inicio">INICIO</button>

  <button mat-button [matMenuTriggerFor]="Producto">PRODUCTOS</button>
  <button mat-button [matMenuTriggerFor]="Producto">SERVICIOS</button>
  <button mat-button [matMenuTriggerFor]="Producto">UBICACION</button>
  <button mat-button [matMenuTriggerFor]="Producto">NOSOTROS</button>
  <mat-menu #Producto="matMenu" yPosition="above">
    <button mat-menu-item>Productos</button>
    <button mat-menu-item>Categoria</button>
  </mat-menu>

  <span class="example-spacer"></span>

  <button routerLink="/login" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>account_circle</mat-icon>
  </button>

</mat-toolbar>
