table {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD

.card-img-top{
  width: 220px;
  height: 230px;
  align-self: center;
  padding-top: 10px;
  
  }
=======
>>>>>>> 681659f6004a85eab07669b989a7363909056d05
>>>>>>> c1986206bc7633b5cb7f811b55d53eb4c9166175
